.container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 80px;
    height: calc(100% - 80px);
}

.diary_txt {
    font-size: 20px;
    color: #189572;
    display: block;
    margin-top: 80px;
    margin-bottom: 80px;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

.diary_nonblock_txt {
    font-size: 20px;
    color: #189572;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.diary_box {
    position: relative;
    width: 330px;
    height: 200px;
    border: 2px solid #cecece;
    padding: 5px;
    border-radius: 10px;
    margin: 0 10px;
}

.diary_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
    color: dimgrey;
    font-weight: bold;
    padding: 5px;
    border-bottom: 2px solid #cecece;
}

.diary_date {
    position: absolute;
    bottom: 10px;
    right: 50%;
    width: auto;
    height: auto;
    padding: 5px;
    color: white;
    font-size: 11px;
    border-radius: 10px;
    background-color: darkgrey;
    transform: translateX(50%);
}

.view_button {
    position: absolute;
    background-color: #189572;
    padding: 10px;
    color: white;
    width: 30%;
    height: 40px;
    font-weight: bold;
    border-radius: 3px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.arrow_button {
    position: relative;
    background-color: #189572;
    padding: 10px;
    color: white;
    width: 70px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    margin: 10px 20px 15px;
}

.diary_button {
    background-color: #189572;
    padding: 10px;
    color: white;
    height: 40px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 3px;
    margin-left: 20px;
    animation: fadeIn_txt 3s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.hidden_txt {
    animation: hidden_box;
    animation-fill-mode: forwards;
}

.delayed_txt {
    font-size: 20px;
    color: #189572;
    margin-top: 40px;
    margin-bottom: 40px;
    animation: fadeIn_txt 3.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.slider_box {
    width: 450px;
    height: 200px;
    margin-bottom: 40px;
}

.no_diary_txt {
    color: #189572;
    justify-content: center;
    align-items: center;
    display: block;
    font-size: 20px;
}

.no_diary_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #189572;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.no_diary_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 200px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        left:  100%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeIn_txt{
    from {
        opacity: 0;
        left:  100%;
        visibility: visible;
    }
    to {
        opacity: 1;
        left: 0;
        visibility: visible;
    }
}

@keyframes hidden_box {
    from {
        visibility: hidden;
    }
    to {
        visibility: hidden;
    }
}